[scanner]
serial: /dev/serial/by-id/usb-Cartographer_614e_2C0029000F43304146393320-if00
#canbus_uuid: b29ee2a25a2c #3d1f29a8676b            
#adjust to suit your scanner 
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
x_offset: 0                          
y_offset: 15                         
calibration_method: touch 
sensor: cartographer
sensor_alt: carto
scanner_touch_z_offset: 0.05         

[bed_mesh]
zero_reference_position: 175, 175    
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 35, 6
#    start point of bed mesh [X, Y]
mesh_max: 240, 198
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic
