[probe]
pin: ebb36: PB9 #sb2040:gpio28 #^PB9
x_offset: 0
y_offset: 0
#z_offset: -0.840 # -0.840
speed: 25
samples: 3
sample_retract_dist: 3
lift_speed: 5.0
samples_result: average #median 
samples_tolerance: 0.0055
samples_tolerance_retries: 3
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
    

[bed_mesh]
speed: 450
horizontal_move_z: 10
mesh_min: 40, 40
mesh_max: 310, 310
algorithm: lagrange #
probe_count: 5,5
move_check_distance: 3.0
relative_reference_index: 12
fade_start: 0.6 #1
fade_end: 10
#fade_target:10
mesh_pps: 2,2

[homing_override]
axes: z
set_position_z: 0
gcode:
   BED_MESH_CLEAR
   G90
   G0 Z5 F600
   G28 X Y
   #G0 X235 Y342 F3600 
   G0 X175 Y175 Z30 F3600
   STATUS_homing
   G28 Z
   G0 Z10 F1800
   #G0 X175 Y175 Z30 F3600

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
##  Probe points
#points:
#   50,25
#   50,275
#   300,275
#   300,25

points:
   50,50
   50,300
   300,300
   300,50

speed: 450
horizontal_move_z: 5 #12
retries: 3
retry_tolerance: 0.0055
max_adjust: 10 #15
